*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: yellow;
    color:black;
    padding:15px;
}

li,h1,ul{
    display: inline;
}
ul{
    margin-left: 900px;
}


li:hover{
    color:red;
    cursor:pointer;

}
input{
    width:60%;
    padding: 15px;
}
.searchbar{
    padding: 45px;
    text-align: center;

    
}
.box{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: var(--text-color);
  padding: 50px 0;
  overflow: hidden;
  border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    align-items: center;
    padding:20px;
    margin-left: 150px;
    cursor: pointer;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: var(--text-color);
  padding: 50px 0;
  overflow: hidden;
  border-color: black;

}
.box:hover{
    background-color: black;
    color:white;
}
.about{
    text-align:center;
    margin-top: 20px;
    
}
.contact{
    text-align: center;
    background-color: yellow;
    color:black ;
}
